<ion-header>
  <ion-toolbar>
    <ion-title>Metas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/img_3.jpeg"/>
    <ion-card-content>
     <ion-card-title>
      Sobre Mís Metas
     </ion-card-title>
     <p>
      Una meta personal es tener mi propio negocio Un Bar<br>Meta profesional es tener pensamiento creativo y <br>la resolución de problemas es una habilidad
      valiosa tanto para el trabajo<br> diario como para las visiones y metas a largo plazo en el lugar de trabajo.<br> En 5 años me veo como un Ing. Informatico con un negocio propio
      <br>poder ser alguien de provecho a la sociedad y la vida.<br>mi meta a corto plazo es mi Titulo Universitario <br>a lo largo un negocio estable
     </p>
    </ion-card-content>
   </ion-card>
</ion-content>
