<ion-header>
  <ion-toolbar>
    <ion-title>Personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/img_1.jpeg"/>
    <ion-card-content>
     <ion-card-title>
      Sobre Mí
     </ion-card-title>
     <p>
      Mi nombre es Juan Francisco Vasquez. Me llaman por Juan <br> soy Bach CC.LL Y Tecnico en
      computacion trabajo en una<br> Municipalidad de La Labor Ocot.<br>anteriormente trabaje en un 
      canal de tv local en Nueva Ocotepeque 
     </p>
    </ion-card-content>
   </ion-card>
  <br>
  <br>
</ion-content>
